.item-cover {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.item {
	margin: 10px;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	float: left;
}

.item-price {
	position: absolute;
	border-radius: 30px;
	width: 26px;
	height: 26px;
	background-color: #8ad4ef;
	color: white;
	right: 0;
	top: 0;
	font-weight: 500;
}

.item-play {
	position: absolute;
	top: 40%;
	right: 40%;
	width: 45px;
}

.item-name {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 8px;
	background-color: white;
	opacity: 0.8;
	font-weight: bold;
}